Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Binary And on GPU (experimental)",                             net.haesleinhuepf.clij2.plugins.BinaryAnd
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Binary Not on GPU (experimental)",                             net.haesleinhuepf.clij2.plugins.BinaryNot
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Binary Or on GPU (experimental)",                              net.haesleinhuepf.clij2.plugins.BinaryOr
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Binary XOr on GPU (experimental)",                             net.haesleinhuepf.clij2.plugins.BinaryXOr
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Binary Union on GPU (experimental)",                           net.haesleinhuepf.clij2.plugins.BinaryUnion
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Binary Intersection on GPU (experimental)",                    net.haesleinhuepf.clij2.plugins.BinaryIntersection
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Binary Subtract on GPU (experimental)",                        net.haesleinhuepf.clij2.plugins.BinarySubtract

Plugins>ImageJ on GPU (CLIJ2)>Binary,               "-",                                             null
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Erode in a box on GPU (experimental)",                         net.haesleinhuepf.clij2.plugins.ErodeBox
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Erode in a sphere on GPU (experimental)",                      net.haesleinhuepf.clij2.plugins.ErodeSphere
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Dilate in a box on GPU (experimental)",                        net.haesleinhuepf.clij2.plugins.DilateBox
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Dilate in a sphere on GPU (experimental)",                     net.haesleinhuepf.clij2.plugins.DilateSphere
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Erode slice by slice in a box on GPU (experimental)",          net.haesleinhuepf.clij2.plugins.ErodeBoxSliceBySlice
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Erode slice by slice in a sphere on GPU (experimental)",       net.haesleinhuepf.clij2.plugins.ErodeSphereSliceBySlice
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Dilate slice by slice in a box on GPU (experimental)",         net.haesleinhuepf.clij2.plugins.DilateBoxSliceBySlice
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Dilate slice by slice in a sphere on GPU (experimental)",      net.haesleinhuepf.clij2.plugins.DilateSphereSliceBySlice
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Opening using box neighborhood on GPU (experimental)",         net.haesleinhuepf.clij2.plugins.OpeningBox
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Opening using diamond neighborhood on GPU (experimental)",     net.haesleinhuepf.clij2.plugins.OpeningDiamond
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Closing using box neighborhood on GPU (experimental)",         net.haesleinhuepf.clij2.plugins.ClosingBox
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Closing using diamond neighborhood on GPU (experimental)",     net.haesleinhuepf.clij2.plugins.ClosingDiamond
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Fill Holes on GPU (experimental)",                      net.haesleinhuepf.clij2.plugins.BinaryFillHoles
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Voronoi (Octagon) on GPU (experimental)",               net.haesleinhuepf.clij2.plugins.VoronoiOctagon
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "-",                                             null
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Mask image on GPU (experimental)",                             net.haesleinhuepf.clij2.plugins.Mask
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Mask an 3D image with a 2D mask on GPU (experimental)",        net.haesleinhuepf.clij2.plugins.MaskStackWithPlane
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "-",                                             null
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Edge detection on GPU (experimental)",        net.haesleinhuepf.clij2.plugins.BinaryEdgeDetection
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "-",                                             null
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Count non-zero pixels locally in a sphere in 2D on GPU (experimental)",        net.haesleinhuepf.clij2.plugins.CountNonZeroPixels2DSphere
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Count non-zero voxels locally in a sphere in 3D on GPU (experimental)",        net.haesleinhuepf.clij2.plugins.CountNonZeroVoxels3DSphere
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Count non-zero pixels locally in a sphere slice by slice on GPU (experimental)",        net.haesleinhuepf.clij2.plugins.CountNonZeroPixelsSliceBySliceSphere
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "-",                                             null
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Check if two images are equal pixel-wise on GPU (experimental)",       net.haesleinhuepf.clij2.plugins.Equal
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Check if two images are not equal pixel-wise on GPU (experimental)",   net.haesleinhuepf.clij2.plugins.NotEqual
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Check if one pixels of one image are greater than pixels in another image pixel-wise on GPU (experimental)",          net.haesleinhuepf.clij2.plugins.Greater
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Check if one pixels of one image are greater than or equal to pixels in another image pixel-wise on GPU (experimental)", net.haesleinhuepf.clij2.plugins.GreaterOrEqual
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Check if one pixels of one image are smaller than pixels in another image pixel-wise on GPU (experimental)",          net.haesleinhuepf.clij2.plugins.Smaller
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Check if one pixels of one image are smaller than or equal to pixels in another image pixel-wise on GPU (experimental)", net.haesleinhuepf.clij2.plugins.SmallerOrEqual
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "-",                                             null
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Check if pixels are equal to a constant on GPU (experimental)",       net.haesleinhuepf.clij2.plugins.EqualConstant
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Check if pixels are not equal to a constant on GPU (experimental)",   net.haesleinhuepf.clij2.plugins.NotEqualConstant
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Check if pixels are greater than a constant on GPU (experimental)",          net.haesleinhuepf.clij2.plugins.GreaterConstant
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Check if pixels are greater than or equal to a constant on GPU (experimental)", net.haesleinhuepf.clij2.plugins.GreaterOrEqualConstant
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Check if pixels are smaller than a constant on GPU (experimental)",          net.haesleinhuepf.clij2.plugins.SmallerConstant
Plugins>ImageJ on GPU (CLIJ2)>Binary,               "Check if pixels are are smaller than or equal to a constant on GPU (experimental)", net.haesleinhuepf.clij2.plugins.SmallerOrEqualConstant

Plugins>ImageJ on GPU (CLIJ2)>Binary,                   "-", null
Plugins>ImageJ on GPU (CLIJ2)>Binary,                   "Distance map on GPU (experimental)", net.haesleinhuepf.clij2.plugins.DistanceMap

Plugins>ImageJ on GPU (CLIJ2)>Drawing,                  "Draw a box on GPU (experimental)",         net.haesleinhuepf.clij2.plugins.DrawBox
Plugins>ImageJ on GPU (CLIJ2)>Drawing,                  "Draw a line on GPU (experimental)",         net.haesleinhuepf.clij2.plugins.DrawLine
Plugins>ImageJ on GPU (CLIJ2)>Drawing,                  "Draw a sphere on GPU (experimental)",         net.haesleinhuepf.clij2.plugins.DrawSphere
Plugins>ImageJ on GPU (CLIJ2)>Drawing,                  "Draw mesh from a pointlist and an index list on GPU (experimental)",        net.haesleinhuepf.clij2.plugins.PointIndexListToMesh
Plugins>ImageJ on GPU (CLIJ2)>Drawing,                  "Draw a mesh from a distance matrix on GPU (experimental)",        net.haesleinhuepf.clij2.plugins.DistanceMatrixToMesh


Plugins>ImageJ on GPU (CLIJ2)>Detection,            "Detect maxima in a box on GPU (experimental)",                 net.haesleinhuepf.clij2.plugins.DetectMaximaBox
Plugins>ImageJ on GPU (CLIJ2)>Detection,            "Detect maxima slice by slice in a box on GPU (experimental)",  net.haesleinhuepf.clij2.plugins.DetectMaximaSliceBySliceBox
Plugins>ImageJ on GPU (CLIJ2)>Detection,            "Detect minima on GPU (experimental)",                          net.haesleinhuepf.clij2.plugins.DetectMinimaBox
Plugins>ImageJ on GPU (CLIJ2)>Detection,            "Detect minima slice by slice in a box on GPU (experimental)",  net.haesleinhuepf.clij2.plugins.DetectMinimaSliceBySliceBox






Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Bottom-hat (Box) on GPU (experimental)",                       net.haesleinhuepf.clij2.plugins.BottomHatBox
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Bottom-hat (Sphere) on GPU (experimental)",                    net.haesleinhuepf.clij2.plugins.BottomHatSphere
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Difference-of-Gaussian filter in 2D on GPU (experimental)",    net.haesleinhuepf.clij2.plugins.DifferenceOfGaussian2D
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Difference-of-Gaussian filter in 3D on GPU (experimental)",    net.haesleinhuepf.clij2.plugins.DifferenceOfGaussian3D
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Exponential on GPU (experimental)",                            net.haesleinhuepf.clij2.plugins.Exponential
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Entropy (Box) on GPU (experimental)",                          net.haesleinhuepf.clij2.plugins.EntropyBox
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Gaussian blur 2D on GPU (experimental)",                       net.haesleinhuepf.clij2.plugins.GaussianBlur2D
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Gaussian blur 3D on GPU (experimental)",                       net.haesleinhuepf.clij2.plugins.GaussianBlur3D
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Laplace (Box) on GPU (experimental)",                          net.haesleinhuepf.clij2.plugins.LaplaceBox
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Laplace (Sphere) on GPU (experimental)",                       net.haesleinhuepf.clij2.plugins.LaplaceDiamond
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Logarithm on GPU (experimental)",                              net.haesleinhuepf.clij2.plugins.Logarithm
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Sobel on GPU (experimental)",                                  net.haesleinhuepf.clij2.plugins.Sobel
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Top-hat (Box) on GPU (experimental)",                          net.haesleinhuepf.clij2.plugins.TopHatBox
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Top-hat (Sphere) on GPU (experimental)",                       net.haesleinhuepf.clij2.plugins.TopHatSphere
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Flood fill (Diamond) on GPU (experimental)",                   net.haesleinhuepf.clij2.plugins.FloodFillDiamond

Plugins>ImageJ on GPU (CLIJ2)>Filter,               "-",                                             null
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Median 2D in a sphere on GPU (experimental)",                  net.haesleinhuepf.clij2.plugins.Median2DSphere
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Median 2D in a box on GPU (experimental)",                     net.haesleinhuepf.clij2.plugins.Median2DBox
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Median 3D in a sphere on GPU (experimental)",                  net.haesleinhuepf.clij2.plugins.Median3DSphere
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Median 3D in a box on GPU (experimental)",                     net.haesleinhuepf.clij2.plugins.Median3DBox
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Median slice by slice in a sphere on GPU (experimental)",      net.haesleinhuepf.clij2.plugins.MedianSliceBySliceSphere
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Median slice by slice in a box on GPU (experimental)",         net.haesleinhuepf.clij2.plugins.MedianSliceBySliceBox
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "-",                                             null
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Mean 2D in a sphere on GPU (experimental)",                    net.haesleinhuepf.clij2.plugins.Mean2DSphere
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Mean 2D in a box on GPU (experimental)",                       net.haesleinhuepf.clij2.plugins.Mean2DBox
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Mean 3D in a sphere on GPU (experimental)",                    net.haesleinhuepf.clij2.plugins.Mean3DSphere()
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Mean 3D in a box on GPU (experimental)",                       net.haesleinhuepf.clij2.plugins.Mean3DBox
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Mean slice by slice in a sphere on GPU (experimental)",        net.haesleinhuepf.clij2.plugins.MeanSliceBySliceSphere
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "-",                                             null
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Minimum 2D in a sphere on GPU (experimental)",                 net.haesleinhuepf.clij2.plugins.Minimum2DSphere
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Minimum 2D in a box on GPU (experimental)",                    net.haesleinhuepf.clij2.plugins.Minimum2DBox
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Minimum 3D in a sphere on GPU (experimental)",                 net.haesleinhuepf.clij2.plugins.Minimum3DSphere
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Minimum 3D in a box on GPU (experimental)",                    net.haesleinhuepf.clij2.plugins.Minimum3DBox
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Minimum slice by slice in a sphere on GPU (experimental)",     net.haesleinhuepf.clij2.plugins.MinimumSliceBySliceSphere
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "-",                                             null
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Maximum 2D in a sphere on GPU (experimental)",                 net.haesleinhuepf.clij2.plugins.Maximum2DSphere
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Maximum 2D in a box on GPU (experimental)",                    net.haesleinhuepf.clij2.plugins.Maximum2DBox
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Maximum 3D in a sphere on GPU (experimental)",                 net.haesleinhuepf.clij2.plugins.Maximum3DSphere
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Maximum 3D in a box on GPU (experimental)",                    net.haesleinhuepf.clij2.plugins.Maximum3DBox
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Maximum slice by slice in a sphere on GPU (experimental)",     net.haesleinhuepf.clij2.plugins.MaximumSliceBySliceSphere
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "-",                                             null
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Compute gradient in X on GPU (experimental)",                  net.haesleinhuepf.clij2.plugins.GradientX
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Compute gradient in Y on GPU (experimental)",                  net.haesleinhuepf.clij2.plugins.GradientY
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Compute gradient in Z on GPU (experimental)",                  net.haesleinhuepf.clij2.plugins.GradientZ
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "-",                                             null

Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Replace a specific intensity in image on GPU (experimental)",             net.haesleinhuepf.clij2.plugins.ReplaceIntensity
Plugins>ImageJ on GPU (CLIJ2)>Filter,               "Replace a list of intensities in an image on GPU (experimental)",         net.haesleinhuepf.clij2.plugins.ReplaceIntensities

Plugins>ImageJ on GPU (CLIJ2)>Filter>Neighbors,     "Mean value of touching neighbors on GPU (experimental)",         net.haesleinhuepf.clij2.plugins.MeanOfTouchingNeighbors
Plugins>ImageJ on GPU (CLIJ2)>Filter>Neighbors,     "Minimum value of touching neighbors on GPU (experimental)",         net.haesleinhuepf.clij2.plugins.MinimumOfTouchingNeighbors
Plugins>ImageJ on GPU (CLIJ2)>Filter>Neighbors,     "Maximum value of touching neighbors on GPU (experimental)",         net.haesleinhuepf.clij2.plugins.MaximumOfTouchingNeighbors



Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Create a 2D image on GPU (experimental)",                   net.haesleinhuepf.clij2.plugins.Create2D
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Create a 3D image on GPU (experimental)",                   net.haesleinhuepf.clij2.plugins.Create3D
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Convert an image to Unsigned Byte (8-bit) on GPU (experimental)",                   net.haesleinhuepf.clij2.plugins.ConvertUInt8
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Convert an image to Unsigned Short (16-bit) on GPU (experimental)",                   net.haesleinhuepf.clij2.plugins.ConvertUInt16
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Convert an image to Float (32-bit) on GPU (experimental)",                   net.haesleinhuepf.clij2.plugins.ConvertFloat

Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Absolute of an image on GPU (experimental)",                   net.haesleinhuepf.clij2.plugins.Absolute
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Add two images on GPU (experimental)",                         net.haesleinhuepf.clij2.plugins.AddImages
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Add image and scalar on GPU (experimental)",                   net.haesleinhuepf.clij2.plugins.AddImageAndScalar
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Add two weighted images on GPU (experimental)",                net.haesleinhuepf.clij2.plugins.AddImagesWeighted
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Subtract one image from another on GPU (experimental)",        net.haesleinhuepf.clij2.plugins.SubtractImages
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Multiply one image by another on GPU (experimental)",          net.haesleinhuepf.clij2.plugins.MultiplyImages
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Multiply image and scalar on GPU (experimental)",              net.haesleinhuepf.clij2.plugins.MultiplyImageAndScalar
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Multiply image and array of scalars on GPU (experimental)",    net.haesleinhuepf.clij2.plugins.MultiplyImageStackWithScalars
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Multiply 3D image with 2D image on GPU (experimental)",        net.haesleinhuepf.clij2.plugins.MultiplyStackWithPlane
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Multiply image with x/y/z coordintes of pixels on GPU (experimental)",        net.haesleinhuepf.clij2.plugins.MultiplyImageAndCoordinate
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Multiply matrix image on GPU (experimental)",        net.haesleinhuepf.clij2.plugins.MultiplyMatrix


Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Divide one image by another on GPU (experimental)",            net.haesleinhuepf.clij2.plugins.DivideImages
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Invert image on GPU (experimental)",                           net.haesleinhuepf.clij2.plugins.Invert
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "-",                                             null
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Power image by an exponent on GPU (experimental)",             net.haesleinhuepf.clij2.plugins.Power
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "-",                                             null
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Minimum of two images on GPU (experimental)",                  net.haesleinhuepf.clij2.plugins.MinimumImages
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Minimum of image and scalar on GPU (experimental)",            net.haesleinhuepf.clij2.plugins.MinimumImageAndScalar
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Maximum of two images on GPU (experimental)",                  net.haesleinhuepf.clij2.plugins.MaximumImages
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Maximum of image and scalar on GPU (experimental)",            net.haesleinhuepf.clij2.plugins.MaximumImageAndScalar
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Subtract an image from a scalar pixel-wise on GPU (Experimental)",  net.haesleinhuepf.clij2.plugins.SubtractImageFromScalar
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "-",                                             null
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Set all pixels of an image on GPU (experimental)",                         net.haesleinhuepf.clij2.plugins.Set
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Set all pixels in a column to a value on GPU (Experimental)",              net.haesleinhuepf.clij2.plugins.SetColumn
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Set all pixels in a row to a value on GPU (Experimental)",                 net.haesleinhuepf.clij2.plugins.SetRow
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Set all pixels in a plane to a value on GPU (Experimental)",               net.haesleinhuepf.clij2.plugins.SetPlane
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Set all pixels to their X-coordinate on GPU (Experimental)",               net.haesleinhuepf.clij2.plugins.SetRampX
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Set all pixels to their Y-coordinate on GPU (Experimental)",               net.haesleinhuepf.clij2.plugins.SetRampY
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Set all pixels to their Z-coordinate on GPU (Experimental)",               net.haesleinhuepf.clij2.plugins.SetRampZ
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Set all pixels on image borders on GPU (Experimental)",                    net.haesleinhuepf.clij2.plugins.SetImageBorders
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Set all pixels to random values on GPU (Experimental)",                    net.haesleinhuepf.clij2.plugins.SetRandom

Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Set all pixels nonzero pixels pixel index on GPU (Experimental)",          net.haesleinhuepf.clij2.plugins.SetNonZeroPixelsToPixelIndex
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Set pixels to value where X=Y to a value on GPU (experimental)",           net.haesleinhuepf.clij2.plugins.SetWhereXequalsY
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Set all pixels all pixels with X>Y to a value on GPU (Experimental)",      net.haesleinhuepf.clij2.plugins.SetWhereXgreaterThanY
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Set all pixels all pixels with X<Y to a value  on GPU (Experimental)",     net.haesleinhuepf.clij2.plugins.SetWhereXsmallerThanY
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,    "Write values at coordinates on GPU (Experimental)",                        net.haesleinhuepf.clij2.plugins.WriteValuesToPositions

Plugins>ImageJ on GPU (CLIJ2)>Image calculation,        "Logarithm of image on GPU (experimental)",                             net.haesleinhuepf.clij2.plugins.Logarithm
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,        "Exponential of image on GPU (experimental)",                           net.haesleinhuepf.clij2.plugins.Exponential
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,        "Calculate one image to the power of another pixel-wise on GPU (experimental)",                           net.haesleinhuepf.clij2.plugins.PowerImages


Plugins>ImageJ on GPU (CLIJ2)>Image calculation,        "Extrema on GPU (experimental)",                                        net.haesleinhuepf.clij2.plugins.Extrema
Plugins>ImageJ on GPU (CLIJ2)>Image calculation,        "Presign on GPU (experimental)",                                        net.haesleinhuepf.clij2.plugins.Presign

Plugins>ImageJ on GPU (CLIJ2)>Image calculation,        "Equalize mean intensities of slices all on GPU (experimental)",                                        net.haesleinhuepf.clij2.plugins.EqualizeMeanIntensitiesOfSlices

Plugins>ImageJ on GPU (CLIJ2)>Measure,              "Sum all pixels on GPU (experimental)",                         net.haesleinhuepf.clij2.plugins.SumOfAllPixels
Plugins>ImageJ on GPU (CLIJ2)>Measure,              "Mean of all pixels on GPU (experimental)",                     net.haesleinhuepf.clij2.plugins.MeanOfAllPixels
Plugins>ImageJ on GPU (CLIJ2)>Measure,              "Minimum of all pixels on GPU (experimental)",                  net.haesleinhuepf.clij2.plugins.MinimumOfAllPixels
Plugins>ImageJ on GPU (CLIJ2)>Measure,              "Maximum of all pixels on GPU (experimental)",                  net.haesleinhuepf.clij2.plugins.MaximumOfAllPixels
Plugins>ImageJ on GPU (CLIJ2)>Measure,              "Center of mass on GPU (experimental)",                         net.haesleinhuepf.clij2.plugins.CenterOfMass
Plugins>ImageJ on GPU (CLIJ2)>Measure,              "Histogram on GPU (experimental)",                              net.haesleinhuepf.clij2.plugins.Histogram

Plugins>ImageJ on GPU (CLIJ2)>Measure,              "Mean squared error on GPU (experimental)",                                 net.haesleinhuepf.clij2.plugins.MeanSquaredError
Plugins>ImageJ on GPU (CLIJ2)>Measure,              "Jaccard index of two binary images on GPU (experimental)",                 net.haesleinhuepf.clij2.plugins.JaccardIndex
Plugins>ImageJ on GPU (CLIJ2)>Measure,              "Sorensen-Dice index of two binary images on GPU (experimental)",           net.haesleinhuepf.clij2.plugins.SorensenDiceCoefficient
Plugins>ImageJ on GPU (CLIJ2)>Measure,              "Mean closest spot distance between two spot images on GPU (experimental)", net.haesleinhuepf.clij2.plugins.MeanClosestSpotDistance

Plugins>ImageJ on GPU (CLIJ2)>Measure,              "Standard deviation of all on GPU (experimental)",                          net.haesleinhuepf.clij2.plugins.StandardDeviationOfAllPixels
Plugins>ImageJ on GPU (CLIJ2)>Measure,              "Standard deviation of masked pixels on GPU (experimental)",                net.haesleinhuepf.clij2.plugins.StandardDeviationOfMaskedPixels
Plugins>ImageJ on GPU (CLIJ2)>Measure,              "Variance of all on GPU (experimental)",                                    net.haesleinhuepf.clij2.plugins.VarianceOfAllPixels
Plugins>ImageJ on GPU (CLIJ2)>Measure,              "Variance of masked pixels on GPU (experimental)",                          net.haesleinhuepf.clij2.plugins.VarianceOfMaskedPixels
Plugins>ImageJ on GPU (CLIJ2)>Measure,              "Mean of masked pixels on GPU (experimental)",                              net.haesleinhuepf.clij2.plugins.MeanOfMaskedPixels
Plugins>ImageJ on GPU (CLIJ2)>Measure,              "Mean of pixels above a threshold on GPU (experimental)",  net.haesleinhuepf.clij2.plugins.MeanOfPixelsAboveThreshold
Plugins>ImageJ on GPU (CLIJ2)>Measure,              "Minimum of masked pixels on GPU (experimental)",                           net.haesleinhuepf.clij2.plugins.MinimumOfMaskedPixels
Plugins>ImageJ on GPU (CLIJ2)>Measure,              "Maximum of masked pixels on GPU (experimental)",                           net.haesleinhuepf.clij2.plugins.MaximumOfMaskedPixels

Plugins>ImageJ on GPU (CLIJ2)>Measure,              "Determine bounding box on GPU (experimental)",  net.haesleinhuepf.clij2.plugins.BoundingBox
Plugins>ImageJ on GPU (CLIJ2)>Measure,              "Determine centroids of labels on GPU (experimental)",  net.haesleinhuepf.clij2.plugins.CentroidsOfLabels
Plugins>ImageJ on GPU (CLIJ2)>Measure,              "Get size of image on GPU (experimental)",  net.haesleinhuepf.clij2.plugins.GetSize

Plugins>ImageJ on GPU (CLIJ2)>Measure,              "Count non-zero pixels on GPU (experimental)",                          net.haesleinhuepf.clij2.plugins.CountNonZeroPixels
Plugins>ImageJ on GPU (CLIJ2)>Measure,              "Statistics of label map excluding background on GPU (experimental)",                        net.haesleinhuepf.clij2.plugins.StatisticsOfLabelledPixels
Plugins>ImageJ on GPU (CLIJ2)>Measure,              "Statistics of label map including background on GPU (experimental)",                        net.haesleinhuepf.clij2.plugins.StatisticsOfBackgroundAndLabelledPixels

Plugins>ImageJ on GPU (CLIJ2)>Measure>Mesh,         "Average distance of n closest points from a distance matrix on GPU (experimental)",        net.haesleinhuepf.clij2.plugins.AverageDistanceOfNClosestPoints
Plugins>ImageJ on GPU (CLIJ2)>Measure>Mesh,         "Average distance of touching neighbors on GPU (experimental)",        net.haesleinhuepf.clij2.plugins.AverageDistanceOfTouchingNeighbors
Plugins>ImageJ on GPU (CLIJ2)>Measure>Mesh,         "Determine shortest distances from a distance matrix on GPU (experimental)",        net.haesleinhuepf.clij2.plugins.ShortestDistances
Plugins>ImageJ on GPU (CLIJ2)>Measure>Mesh,         "Count touching neighbors from touch matrix on GPU (experimental)",        net.haesleinhuepf.clij2.plugins.CountTouchingNeighbors
Plugins>ImageJ on GPU (CLIJ2)>Measure>Mesh,         "Generate distance matrix from position lists on GPU (experimental)",        net.haesleinhuepf.clij2.plugins.GenerateDistanceMatrix
Plugins>ImageJ on GPU (CLIJ2)>Measure>Mesh,         "Generate touch matrix from label map on GPU (experimental)",        net.haesleinhuepf.clij2.plugins.GenerateTouchMatrix
Plugins>ImageJ on GPU (CLIJ2)>Measure>Mesh,         "Determine n shortest distances from a distance matrix on GPU (experimental)",        net.haesleinhuepf.clij2.plugins.NClosestPoints
Plugins>ImageJ on GPU (CLIJ2)>Measure>Mesh,         "Generate mesh from touch matrix on GPU (experimental)",        net.haesleinhuepf.clij2.plugins.TouchMatrixToMesh
Plugins>ImageJ on GPU (CLIJ2)>Measure>Mesh,         "Determine minimum distance of touching neighbors on GPU (experimental)",        net.haesleinhuepf.clij2.plugins.MinimumDistanceOfTouchingNeighbors

Plugins>ImageJ on GPU (CLIJ2)>Macro tools,          "CLIJ2 ClInfo ",                                   net.haesleinhuepf.clij2.plugins.ClInfo
Plugins>ImageJ on GPU (CLIJ2)>Macro tools,          "CLIJ Debug on/off ",                             net.haesleinhuepf.clij.utilities.DebugToggle
Plugins>ImageJ on GPU (CLIJ2)>Macro tools,          "Clear GPU memory ",                              net.haesleinhuepf.clij2.plugins.Clear
Plugins>ImageJ on GPU (CLIJ2)>Macro tools,          "Release single image from GPU memory ",          net.haesleinhuepf.clij2.plugins.Release
Plugins>ImageJ on GPU (CLIJ2)>Macro tools,          "Report about GPU memory usage ",                 net.haesleinhuepf.clij2.plugins.ReportMemory
Plugins>ImageJ on GPU (CLIJ2)>Macro tools,          "Search for commands on GPU (Experimental) ",                net.haesleinhuepf.clij2.plugins.Help

Plugins>ImageJ on GPU (CLIJ2)>Macro tools,          "List GPU properies (Experimental) ",                net.haesleinhuepf.clij2.plugins.GPUProperties
Plugins>ImageJ on GPU (CLIJ2)>Macro tools,          "List available GPUs (Experimental) ",                net.haesleinhuepf.clij2.plugins.ListAvailableGPUs
Plugins>ImageJ on GPU (CLIJ2)>Macro tools,          "Invalidate kernel cache (Experimental) ",                net.haesleinhuepf.clij2.plugins.InvalidateKernelCache

Plugins>ImageJ on GPU (CLIJ2)>Labeling,             "Connected components analysis/labeling on GPU (experimental)",         net.haesleinhuepf.clij2.plugins.ConnectedComponentsLabeling
Plugins>ImageJ on GPU (CLIJ2)>Labeling,             "Mask a label in an image on GPU (experimental)",                       net.haesleinhuepf.clij2.plugins.MaskLabel

Plugins>ImageJ on GPU (CLIJ2)>Labeling,             "-",                   null
Plugins>ImageJ on GPU (CLIJ2)>Labeling,             "Relabel labelmap to close index gaps on GPU (experimental)",           net.haesleinhuepf.clij2.plugins.CloseIndexGapsInLabelMap

Plugins>ImageJ on GPU (CLIJ2)>Labeling,             "-",                   null
Plugins>ImageJ on GPU (CLIJ2)>Labeling,             "Exclude labels touching image edges on GPU (experimental)",    net.haesleinhuepf.clij2.plugins.ExcludeLabelsOnEdges
Plugins>ImageJ on GPU (CLIJ2)>Labeling,             "Exclude labels on surface on GPU (experimental)",              net.haesleinhuepf.clij2.plugins.ExcludeLabelsOnSurface
Plugins>ImageJ on GPU (CLIJ2)>Labeling,             "Exclude sub-surface labels on GPU (experimental)",             net.haesleinhuepf.clij2.plugins.ExcludeLabelsSubSurface
Plugins>ImageJ on GPU (CLIJ2)>Labeling,             "-",                   null

Plugins>ImageJ on GPU (CLIJ2)>Labeling,             "Detect label edges on GPU (experimental)",                     net.haesleinhuepf.clij2.plugins.DetectLabelEdges

Plugins>ImageJ on GPU (CLIJ2)>Labeling,             "Label spots on GPU (experimental)",                            net.haesleinhuepf.clij2.plugins.LabelSpots
Plugins>ImageJ on GPU (CLIJ2)>Labeling,             "Label to mask on GPU (experimental)",                          net.haesleinhuepf.clij2.plugins.LabelToMask
Plugins>ImageJ on GPU (CLIJ2)>Labeling,             "Labelled spots to pointlist on GPU (experimental)",            net.haesleinhuepf.clij2.plugins.LabelledSpotsToPointList
Plugins>ImageJ on GPU (CLIJ2)>Labeling,             "Spots image to position list on GPU (experimental)",           net.haesleinhuepf.clij2.plugins.SpotsToPointList

Plugins>ImageJ on GPU (CLIJ2)>Table,                "Convert 2D image to a table on GPU (experimental)",            net.haesleinhuepf.clij2.plugins.Image2DToResultsTable
Plugins>ImageJ on GPU (CLIJ2)>Table,                "Convert a table to a 2D image on GPU (experimental)",          net.haesleinhuepf.clij2.plugins.ResultsTableToImage2D
Plugins>ImageJ on GPU (CLIJ2)>Table,                "Convert a table column to an image on GPU (experimental)",     net.haesleinhuepf.clij2.plugins.ResultsTableColumnToImage

Plugins>ImageJ on GPU (CLIJ2)>Threshold,            "Automatic threshold on GPU (experimental)",                    net.haesleinhuepf.clij2.plugins.AutomaticThreshold
Plugins>ImageJ on GPU (CLIJ2)>Threshold,            "Apply a threshold on GPU (experimental)",                      net.haesleinhuepf.clij2.plugins.Threshold
Plugins>ImageJ on GPU (CLIJ2)>Threshold,            "Apply local threshold on GPU (experimental)",                  net.haesleinhuepf.clij2.plugins.LocalThreshold
Plugins>ImageJ on GPU (CLIJ2)>Threshold,            "Threshold 'Default' on GPU (experimental)",                    net.haesleinhuepf.clij2.plugins.ThresholdDefault
Plugins>ImageJ on GPU (CLIJ2)>Threshold,            "Threshold 'Huang' on GPU (experimental)",                      net.haesleinhuepf.clij2.plugins.ThresholdHuang
Plugins>ImageJ on GPU (CLIJ2)>Threshold,            "Threshold 'IJ_IsoData' on GPU (experimental)",                 net.haesleinhuepf.clij2.plugins.ThresholdIJ_IsoData
Plugins>ImageJ on GPU (CLIJ2)>Threshold,            "Threshold 'Intermodes' on GPU (experimental)",                 net.haesleinhuepf.clij2.plugins.ThresholdIntermodes
Plugins>ImageJ on GPU (CLIJ2)>Threshold,            "Threshold 'IsoData' on GPU (experimental)",                    net.haesleinhuepf.clij2.plugins.ThresholdIsoData
Plugins>ImageJ on GPU (CLIJ2)>Threshold,            "Threshold 'Li' on GPU (experimental)",                         net.haesleinhuepf.clij2.plugins.ThresholdLi
Plugins>ImageJ on GPU (CLIJ2)>Threshold,            "Threshold 'MaxEntropy' on GPU (experimental)",                 net.haesleinhuepf.clij2.plugins.ThresholdMaxEntropy
Plugins>ImageJ on GPU (CLIJ2)>Threshold,            "Threshold 'Mean' on GPU (experimental)",                       net.haesleinhuepf.clij2.plugins.ThresholdMean
Plugins>ImageJ on GPU (CLIJ2)>Threshold,            "Threshold 'MinError' on GPU (experimental)",                   net.haesleinhuepf.clij2.plugins.ThresholdMinError
Plugins>ImageJ on GPU (CLIJ2)>Threshold,            "Threshold 'Minimum' on GPU (experimental)",                    net.haesleinhuepf.clij2.plugins.ThresholdMinimum
Plugins>ImageJ on GPU (CLIJ2)>Threshold,            "Threshold 'Moments' on GPU (experimental)",                    net.haesleinhuepf.clij2.plugins.ThresholdMoments
Plugins>ImageJ on GPU (CLIJ2)>Threshold,            "Threshold 'Otsu' on GPU (experimental)",                       net.haesleinhuepf.clij2.plugins.ThresholdOtsu
Plugins>ImageJ on GPU (CLIJ2)>Threshold,            "Threshold 'Percentile' on GPU (experimental)",                 net.haesleinhuepf.clij2.plugins.ThresholdPercentile
Plugins>ImageJ on GPU (CLIJ2)>Threshold,            "Threshold 'RenyiEntropy' on GPU (experimental)",               net.haesleinhuepf.clij2.plugins.ThresholdRenyiEntropy
Plugins>ImageJ on GPU (CLIJ2)>Threshold,            "Threshold 'Shanbhag' on GPU (experimental)",                   net.haesleinhuepf.clij2.plugins.ThresholdShanbhag
Plugins>ImageJ on GPU (CLIJ2)>Threshold,            "Threshold 'Triangle' on GPU (experimental)",                   net.haesleinhuepf.clij2.plugins.ThresholdTriangle
Plugins>ImageJ on GPU (CLIJ2)>Threshold,            "Threshold 'Yen' on GPU (experimental)",                        net.haesleinhuepf.clij2.plugins.ThresholdYen

Plugins>ImageJ on GPU (CLIJ2)>Transform,            "Copy on GPU (experimental)",                                   net.haesleinhuepf.clij2.plugins.Copy
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "Copy slice on GPU (experimental)",                             net.haesleinhuepf.clij2.plugins.CopySlice
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "Crop 2D on GPU (experimental)",                                net.haesleinhuepf.clij2.plugins.Crop2D
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "Crop 3D on GPU (experimental)",                                net.haesleinhuepf.clij2.plugins.Crop3D
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "Paste an image into a 2D image on GPU (experimental)",         net.haesleinhuepf.clij2.plugins.Paste2D
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "Paste an image into a 3D image on GPU (experimental)",         net.haesleinhuepf.clij2.plugins.Paste3D
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "-",                                             null
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "Downsample 2D on GPU (experimental)",                          net.haesleinhuepf.clij2.plugins.Downsample2D
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "Downsample 3D on GPU (experimental)",                          net.haesleinhuepf.clij2.plugins.Downsample3D
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "-",                                             null
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "Flip 2D image on GPU (experimental)",                          net.haesleinhuepf.clij2.plugins.Flip2D
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "Flip 3D image on GPU (experimental)",                          net.haesleinhuepf.clij2.plugins.Flip3D
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "-",                                             null
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "Reslice image from bottom on GPU (experimental)",              net.haesleinhuepf.clij2.plugins.ResliceBottom
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "Reslice image from left on GPU (experimental)",                net.haesleinhuepf.clij2.plugins.ResliceLeft
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "Reslice image from right on GPU (experimental)",               net.haesleinhuepf.clij2.plugins.ResliceRight
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "Reslice image from top on GPU (experimental)",                 net.haesleinhuepf.clij2.plugins.ResliceTop
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "Reslice image radial on GPU (experimental)",                   net.haesleinhuepf.clij2.plugins.ResliceRadial
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "-",                                             null
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "Rotate image counter clockwise on GPU (experimental)",         net.haesleinhuepf.clij2.plugins.RotateCounterClockwise
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "Rotate image clockwise on GPU (experimental)",                 net.haesleinhuepf.clij2.plugins.RotateClockwise
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "-",                                             null
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "Apply affine transform to image on GPU (experimental)",        net.haesleinhuepf.clij2.plugins.AffineTransform
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "Apply affine transform to 2D image on GPU (experimental)",     net.haesleinhuepf.clij2.plugins.AffineTransform2D
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "Apply affine transform to 3D image on GPU (experimental)",     net.haesleinhuepf.clij2.plugins.AffineTransform3D
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "Rotate 2D image on GPU (experimental)",                        net.haesleinhuepf.clij2.plugins.Rotate2D
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "Rotate 3D image stack on GPU (experimental)",                  net.haesleinhuepf.clij2.plugins.Rotate3D
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "Translate 2D image on GPU (experimental)",                     net.haesleinhuepf.clij2.plugins.Translate2D
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "Translate 3D image on GPU (experimental)",                     net.haesleinhuepf.clij2.plugins.Translate3D
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "Scale image on GPU (experimental)",                            net.haesleinhuepf.clij2.legacyplugins.Scale
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "Scale 2D image on GPU (experimental)",                         net.haesleinhuepf.clij2.plugins.Scale2D
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "Scale 3D image on GPU (experimental)",                         net.haesleinhuepf.clij2.plugins.Scale3D
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "-",                                             null
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "Apply 2D vector field to image on GPU (experimental)",         net.haesleinhuepf.clij2.plugins.ApplyVectorField2D
Plugins>ImageJ on GPU (CLIJ2)>Transform,            "Apply 3D vector field to image on GPU (experimental)",         net.haesleinhuepf.clij2.plugins.ApplyVectorField3D


Plugins>ImageJ on GPU (CLIJ2)>Transform,                "Transpose in XY on GPU (experimental)",                                net.haesleinhuepf.clij2.plugins.TransposeXY
Plugins>ImageJ on GPU (CLIJ2)>Transform,                "Transpose in XZ on GPU (experimental)",                                net.haesleinhuepf.clij2.plugins.TransposeXZ
Plugins>ImageJ on GPU (CLIJ2)>Transform,                "Transpose in YZ on GPU (experimental)",                                net.haesleinhuepf.clij2.plugins.TransposeYZ
Plugins>ImageJ on GPU (CLIJ2)>Transform,                "Resample image on GPU (experimental)",                                 net.haesleinhuepf.clij2.plugins.Resample
Plugins>ImageJ on GPU (CLIJ2)>Transform,                "Image to stack on GPU (experimental)",                                 net.haesleinhuepf.clij2.plugins.ImageToStack




Plugins>ImageJ on GPU (CLIJ2)>Projections,          "Minimum-Z-projection on GPU (experimental)",                   net.haesleinhuepf.clij2.plugins.MinimumZProjection
Plugins>ImageJ on GPU (CLIJ2)>Projections,          "Maximum-Z-projection on GPU (experimental)",                   net.haesleinhuepf.clij2.plugins.MaximumZProjection
Plugins>ImageJ on GPU (CLIJ2)>Projections,          "Mean-Z-projection on GPU (experimental)",                      net.haesleinhuepf.clij2.plugins.MeanZProjection
Plugins>ImageJ on GPU (CLIJ2)>Projection,           "Median-Z-Projection on GPU (experimental)",                    net.haesleinhuepf.clij2.plugins.MedianZProjection
Plugins>ImageJ on GPU (CLIJ2)>Projection,           "Standard-Deviation-Z-projection on GPU (experimental)",        net.haesleinhuepf.clij2.plugins.StandardDeviationZProjection
Plugins>ImageJ on GPU (CLIJ2)>Projections,          "Sum-Z-projection on GPU (experimental)",                       net.haesleinhuepf.clij2.plugins.SumZProjection
Plugins>ImageJ on GPU (CLIJ2)>Projections,          "-",                                             null
Plugins>ImageJ on GPU (CLIJ2)>Projections,          "ArgMaximum-Z-projection on GPU (experimental)",                net.haesleinhuepf.clij2.plugins.ArgMaximumZProjection
Plugins>ImageJ on GPU (CLIJ2)>Projection,           "Maximum-X-projection on GPU (experimental)",                   net.haesleinhuepf.clij2.plugins.MaximumXProjection
Plugins>ImageJ on GPU (CLIJ2)>Projection,           "Maximum-Y-projection on GPU (experimental)",                   net.haesleinhuepf.clij2.plugins.MaximumYProjection
Plugins>ImageJ on GPU (CLIJ2)>Projection,           "Maximum-Z-projection (bounded) on GPU (experimental)",         net.haesleinhuepf.clij2.plugins.MaximumZProjectionBounded
Plugins>ImageJ on GPU (CLIJ2)>Projection,           "Minimum-Z-projection (bounded) on GPU (experimental)",         net.haesleinhuepf.clij2.plugins.MinimumZProjectionBounded
Plugins>ImageJ on GPU (CLIJ2)>Projection,           "Maximum-Z-projection (threshold/bounded) on GPU (experimental)", net.haesleinhuepf.clij2.plugins.MinimumZProjectionThresholdedBounded
Plugins>ImageJ on GPU (CLIJ2)>Projection,           "Mean-Z-projection (bounded) on GPU (experimental)",            net.haesleinhuepf.clij2.plugins.MeanZProjectionBounded
Plugins>ImageJ on GPU (CLIJ2)>Projection,           "Sum-X-projection on GPU (experimental)",                       net.haesleinhuepf.clij2.plugins.SumXProjection
Plugins>ImageJ on GPU (CLIJ2)>Projection,           "Sum-Y-projection on GPU (experimental)",                       net.haesleinhuepf.clij2.plugins.SumYProjection



Plugins>ImageJ on GPU (CLIJ2),                          "CLIJ2 Version 0.27.0 (alpha release)",                            null







