
Plugins>ImageJ on GPU (CLIJ)>Measure>PIV, "Particle image velocimetry 2D+t on GPU (experimental)",                             net.haesleinhuepf.clij.piv.ParticleImageVelocimetryTimelapse
Plugins>ImageJ on GPU (CLIJ)>Transform>Register,       "Translation registration on GPU (experimental)",                       net.haesleinhuepf.clij.registration.TranslationRegistration
Plugins>ImageJ on GPU (CLIJ)>Transform>Register,       "Translation registration of a 2D timelapse on GPU (experimental)",     net.haesleinhuepf.clij.registration.TranslationTimelapseRegistration
Plugins>ImageJ on GPU (CLIJ)>Filter,                  "Top-hat filter in a box on GPU (experimental)",                         net.haesleinhuepf.clij.advancedfilters.TopHatBox
Plugins>ImageJ on GPU (CLIJ)>Filter,                  "Top-hat filter in a sphere on GPU (experimental)",                      net.haesleinhuepf.clij.advancedfilters.TopHatSphere
Plugins>ImageJ on GPU (CLIJ)>Filter,                  "Difference-of-Gaussian filter in 2D on GPU (experimental)",             net.haesleinhuepf.clij.advancedfilters.DifferenceOfGaussian2D
Plugins>ImageJ on GPU (CLIJ)>Filter,                  "Difference-of-Gaussian filter in 3D on GPU (experimental)",             net.haesleinhuepf.clij.advancedfilters.DifferenceOfGaussian3D
Plugins>ImageJ on GPU (CLIJ)>Filter,                  "Local extrema in a box on GPU (experimental)",                          net.haesleinhuepf.clij.advancedfilters.LocalExtremaBox
Plugins>ImageJ on GPU (CLIJ)>Filter,                  "Subtract background in 2D image on GPU (experimental)",                 net.haesleinhuepf.clij.advancedfilters.SubtractBackground2D
Plugins>ImageJ on GPU (CLIJ)>Filter,                  "Subtract background in 3D image on GPU (experimental)",                 net.haesleinhuepf.clij.advancedfilters.SubtractBackground3D

Plugins>ImageJ on GPU (CLIJ)>Image calculation,        "Extrema on GPU (experimental)",                                        net.haesleinhuepf.clij.advancedfilters.Extrema
Plugins>ImageJ on GPU (CLIJ)>Image calculation,        "Presign on GPU (experimental)",                                        net.haesleinhuepf.clij.advancedfilters.Presign
Plugins>ImageJ on GPU (CLIJ)>Measure>PIV,              "Particle Image Velocimetry (PIV) on GPU (experimental)",               net.haesleinhuepf.clij.piv.ParticleImageVelocimetry
Plugins>ImageJ on GPU (CLIJ)>Measure,                  "Mean squared error on GPU (experimental)",                             net.haesleinhuepf.clij.advancedfilters.MeanSquaredError
Plugins>ImageJ on GPU (CLIJ)>Projections,              "Standard deviation Z-projection (experimental)",                       net.haesleinhuepf.clij.advancedfilters.StandardDeviationZProjection
Plugins>ImageJ on GPU (CLIJ)>Projections,              "Median Z-projection (experimental)",                                   net.haesleinhuepf.clij.advancedfilters.MedianZProjection

Plugins>ImageJ on GPU (CLIJ)>Binary,                   "Binary Union on GPU",                                                  net.haesleinhuepf.clij.advancedfilters.BinaryUnion
Plugins>ImageJ on GPU (CLIJ)>Binary,                   "Binary Intersection on GPU",                                           net.haesleinhuepf.clij.advancedfilters.BinaryIntersection

Plugins>ImageJ on GPU (CLIJ)>Labeling,                 "Connected components analysis/labeling on GPU (experimental)",         net.haesleinhuepf.clij.advancedfilters.ConnectedComponentsLabeling
Plugins>ImageJ on GPU (CLIJ)>Labeling,                 "Mask a label in an image on GPU (experimental)",                       net.haesleinhuepf.clij.advancedfilters.MaskLabel


Plugins>ImageJ on GPU (CLIJ)>Measure,                  "Count non-zero pixels on GPU (experimental)",                          net.haesleinhuepf.clij.advancedfilters.CountNonZeroPixels
Plugins>ImageJ on GPU (CLIJ)>Transform,                "Paste an image into a 3D image on GPU (experimental)",                 net.haesleinhuepf.clij.advancedfilters.Paste3D
Plugins>ImageJ on GPU (CLIJ)>Transform,                "Paste an image into a 2D image on GPU (experimental)",                 net.haesleinhuepf.clij.advancedfilters.Paste2D
Plugins>ImageJ on GPU (CLIJ)>Transform,                "Lightfield tiles to stack on GPU (experimental)",                      net.haesleinhuepf.clij.advancedfilters.LFRecon
Plugins>ImageJ on GPU (CLIJ)>Transform,                "Stack to tiles on GPU (experimental)",                                 net.haesleinhuepf.clij.advancedfilters.StackToTiles
Plugins>ImageJ on GPU (CLIJ)>Transform,                "Transpose in XY on GPU (experimental)",                                net.haesleinhuepf.clij.matrix.TransposeXY
Plugins>ImageJ on GPU (CLIJ)>Transform,                "Transpose in XZ on GPU (experimental)",                                net.haesleinhuepf.clij.matrix.TransposeXZ
Plugins>ImageJ on GPU (CLIJ)>Transform,                "Transpose in YZ on GPU (experimental)",                                net.haesleinhuepf.clij.matrix.TransposeYZ

Plugins>ImageJ on GPU (CLIJ)>Transform>Fusion,         "Tenengrad fusion of 2 stacks on GPU (experimental)",                   net.haesleinhuepf.clij.advancedfilters.tenengrad.TenengradFusionOf2
Plugins>ImageJ on GPU (CLIJ)>Transform>Fusion,         "Tenengrad fusion of 3 stacks on GPU (experimental)",                   net.haesleinhuepf.clij.advancedfilters.tenengrad.TenengradFusionOf3
Plugins>ImageJ on GPU (CLIJ)>Transform>Fusion,         "Tenengrad fusion of 4 stacks on GPU (experimental)",                   net.haesleinhuepf.clij.advancedfilters.tenengrad.TenengradFusionOf4
Plugins>ImageJ on GPU (CLIJ)>Transform>Fusion,         "Tenengrad fusion of 5 stacks on GPU (experimental)",                   net.haesleinhuepf.clij.advancedfilters.tenengrad.TenengradFusionOf5
Plugins>ImageJ on GPU (CLIJ)>Transform>Fusion,         "Tenengrad fusion of 6 stacks on GPU (experimental)",                   net.haesleinhuepf.clij.advancedfilters.tenengrad.TenengradFusionOf6
Plugins>ImageJ on GPU (CLIJ)>Transform>Fusion,         "Tenengrad fusion of 7 stacks on GPU (experimental)",                   net.haesleinhuepf.clij.advancedfilters.tenengrad.TenengradFusionOf7
Plugins>ImageJ on GPU (CLIJ)>Transform>Fusion,         "Tenengrad fusion of 8 stacks on GPU (experimental)",                   net.haesleinhuepf.clij.advancedfilters.tenengrad.TenengradFusionOf8
Plugins>ImageJ on GPU (CLIJ)>Transform>Fusion,         "Tenengrad fusion of 9 stacks on GPU (experimental)",                   net.haesleinhuepf.clij.advancedfilters.tenengrad.TenengradFusionOf9
Plugins>ImageJ on GPU (CLIJ)>Transform>Fusion,         "Tenengrad fusion of 10 stacks on GPU (experimental)",                  net.haesleinhuepf.clij.advancedfilters.tenengrad.TenengradFusionOf10
Plugins>ImageJ on GPU (CLIJ)>Transform>Fusion,         "Tenengrad fusion of 11 stacks on GPU (experimental)",                  net.haesleinhuepf.clij.advancedfilters.tenengrad.TenengradFusionOf11
Plugins>ImageJ on GPU (CLIJ)>Transform>Fusion,         "Tenengrad fusion of 12 stacks on GPU (experimental)",                  net.haesleinhuepf.clij.advancedfilters.tenengrad.TenengradFusionOf12


Plugins>ImageJ on GPU (CLIJ)>Math,                     "Spots image to position list on GPU (experimental)",                       net.haesleinhuepf.clij.matrix.SpotsToPointList
Plugins>ImageJ on GPU (CLIJ)>Math,                     "Generate distance matrix from position lists on GPU (experimental)",                       net.haesleinhuepf.clij.matrix.GenerateDistanceMatrix
Plugins>ImageJ on GPU (CLIJ)>Math,                     "Determine shortest distances from a distance matrix on GPU (experimental)",                       net.haesleinhuepf.clij.matrix.ShortestDistances



