
Plugins>ImageJ on GPU (CLIJ)>Measure>PIV, "Particle image velocimetry 2D+t on GPU (experimental)",                  net.haesleinhuepf.clij.piv.ParticleImageVelocimetryTimelapse
Plugins>ImageJ on GPU (CLIJ)>Transform>Register,       "Translation registration on GPU (experimental)",                         net.haesleinhuepf.clij.registration.TranslationRegistration
Plugins>ImageJ on GPU (CLIJ)>Transform>Register,       "Translation registration of a 2D timelapse on GPU (experimental)",       net.haesleinhuepf.clij.registration.TranslationTimelapseRegistration
Plugins>ImageJ on GPU (CLIJ)>Filter,                  "Top-hat filter in a box on GPU (experimental)",                          net.haesleinhuepf.clij.advancedfilters.TopHatBox
Plugins>ImageJ on GPU (CLIJ)>Filter,                  "Top-hat filter in a sphere on GPU (experimental)",                       net.haesleinhuepf.clij.advancedfilters.TopHatSphere
Plugins>ImageJ on GPU (CLIJ)>Filter,                  "Difference-of-Gaussian filter in 2D on GPU (experimental)",              net.haesleinhuepf.clij.advancedfilters.DifferenceOfGaussian2D
Plugins>ImageJ on GPU (CLIJ)>Filter,                  "Difference-of-Gaussian filter in 3D on GPU (experimental)",              net.haesleinhuepf.clij.advancedfilters.DifferenceOfGaussian3D
Plugins>ImageJ on GPU (CLIJ)>Filter,                  "Local extrema in a box on GPU (experimental)",                           net.haesleinhuepf.clij.advancedfilters.LocalExtremaBox
Plugins>ImageJ on GPU (CLIJ)>Image calculation,        "Extrema on GPU (experimental)",                                          net.haesleinhuepf.clij.advancedfilters.Extrema
Plugins>ImageJ on GPU (CLIJ)>Image calculation,        "Presign on GPU (experimental)",                                          net.haesleinhuepf.clij.advancedfilters.Presign
Plugins>ImageJ on GPU (CLIJ)>Measure>PIV, "Particle Image Velocimetry (PIV) on GPU (experimental)",                                net.haesleinhuepf.clij.piv.ParticleImageVelocimetry
Plugins>ImageJ on GPU (CLIJ)>Measure,                  "Mean squared error on GPU (experimental)",                                net.haesleinhuepf.clij.advancedfilters.MeanSquaredError
Plugins>ImageJ on GPU (CLIJ)>Projections,              "Standard deviation Z-projection (experimental)",                                         net.haesleinhuepf.clij.advancedfilters.StandardDeviationZProjection
Plugins>ImageJ on GPU (CLIJ)>Projections,              "Median Z-projection (experimental)",                                         net.haesleinhuepf.clij.advancedfilters.MedianZProjection

Plugins>ImageJ on GPU (CLIJ)>Binary,               "Binary Union on GPU",                             net.haesleinhuepf.clij.advancedfilters.BinaryUnion
Plugins>ImageJ on GPU (CLIJ)>Binary,               "Binary Intersection on GPU",                             net.haesleinhuepf.clij.advancedfilters.BinaryIntersection






