<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div class="wrapper">
    <header>
        <h1><a href="https://github.com/clij2">CLIJ2</a></h1>
        <img src="{{site.logo | relative_url}}" alt="Logo" />
        <p>GPU accelerated image processing for everyone</p>

        <p class="view"><a href="https://clij.github.io/">CLIJ2 <STRONG>home</STRONG></a></p>

        <ul class="downloads">
            <li><a href="https://clij.github.io/clij2-docs/installationInFiji" target="_blank">Installation in <STRONG>Fiji</STRONG></a></li>
            <li><a href="https://github.com/clij/clicy" target="_blank">Installation in <STRONG>Icy</STRONG></a></li>
            <li><a href="https://github.com/clij/clatlab" target="_blank">Installation in <STRONG>Matlab</STRONG></a></li>
        </ul>
        <ul class="downloads">
            <li><a href="https://clij.github.io/clij2-docs/reference" target="_blank"><STRONG>Reference</STRONG></a></li>
            <li><a href="https://clij.github.io/clij2-docs/CLIJ2-cheatsheet_V3.pdf" target="_blank"><STRONG>Cheat sheets</STRONG></a></li>
            <li><a href="https://github.com/clij/clij2/" target="_blank"><STRONG>Source code</STRONG></a></li>
        </ul>

    </header>
    <section>

        {{ content }}

    </section>
    <footer>
        <p><small>This project is maintained by <a href="https://github.com/haesleinhuepf">haesleinhuepf</a></small></p>
        <p><small><a href="https://clij.github.io/imprint">Imprint</a></small></p>
    </footer>
</div>
<script src="/assets/js/scale.fix.js"></script>
</body>
</html>